@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');

body{
    background-image: linear-gradient(to left, #F2F2F2, #B3CFF2 );
}

h1{
    font-family: Marko One;
    font-size: 3em;
    text-align: center;
    color: #8CA9C1;
    

}
h2{
    font-family: Oswald;
    font-size: 3em;
    text-align: center;
}

ul{
    font-family: Oswald;
    text-align: center;

}
p{
    text-align: center;
    font-size: 2em;
    font-family: Oswald
   
    

}
main{
    text-align: center;
    background-color:white;
    width: 600px;
    margin: auto;
    padding: 5px;
    border-radius: 15px;
}

div:hover{background-color: #B3CFF2;
border: 1px solid black;
border-radius: 5px;
width: 300px;
text-align: center;
margin: auto;}